body{
    background-color:#ffffff;
    color:#020e0e;
    width:500px;
    margin-right:auto;
    margin-left:auto;
}
button {
  padding:5px 20px;
  background-color: #3eb733;
  border-color: #a42e5b;
  color:#fdffff;
  border-style: none;
}
input{
    height:20px;
}
